:root {
    --background-color: #F3EEEC;
    --secondary-background-color: #b9b7bd;
    --third-color: #ee5c38;
    --third-color-transpasrent: #ee5c3895;
    --title-color: #868b8e;
    --light: rgb(250, 248, 248);
    --dark: rgb(16, 8, 3);
    
    --border-radius:10px;

    --title-font-family: 'Akronim', cursive;
    --title-h2-font-family: 'Aladin', cursive;

    --spacing:8px;
    --spacing-2:calc(var(--spacing) * 2);
    --spacing-4:calc(var(--spacing) * 4);
    --spacing-6:calc(var(--spacing) * 6);

    --spacing-section: 60px;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: 'Noto Sans JP', sans-serif;
    margin:0;
    color: var(--dark);
    font-weight: bold;
    font-size: 1.2em;
}

h2 {
    color: var(--third-color);
    text-align: center;
    font-family: var(--title-h2-font-family);
    font-size: 46px;
    font-weight: normal;
}

h3{
    text-align: center;
    font-size: 32px;
    font-family: var(--title-h2-font-family);
    color: var(--third-color);
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 40px;
    }

}
/*--        Header      --*/
header {
    margin-bottom: 98px;
}

@media screen and (max-width:1281px) {
    header {
        margin-bottom: 12.2vmax;
    }
}

nav {
    display:flex;
    justify-content:space-around;
    position: fixed;
    width:100vw;
    background-color: var(--third-color);
    top: 0;
    box-shadow: 0 1px 10px #999;
}

.menu-items {
    width:80%;
    padding:var(--spacing-2);
}

.desktop-menu{
    display: flex;
    justify-content:space-evenly;
    margin: var(--spacing-2);
}

.desktop-menu a {
    color: var(--light);
}

.download-cv {
    background-color: var(--light);
    padding:var(--spacing-2);
    border-radius:10px;
    margin: var(--spacing-2);
    align-self:center;
    text-align:center;
}

.download-cv a {
    color: var(--third-color);
}


nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--title-h2-font-family);
    font-size: 30px;
}

.burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:50px;
    height:50px;
}


.burger div {
    height: 4px;
    background-color: var(--light);
}

.download-cv-mobile {
    display:none;
}

.close-burger{
    display:none;
}

@media screen and (max-width:800px) {
    .desktop-menu {
        display: none;
    }

    .burger {
        display:flex;
        padding: var(--spacing);
        width: 60px;
    }

    .download-cv{
        display:none;
    }

    .desktop-menu:target {
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: var(--third-color);
        font-size: 20px;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        opacity: 0.95;
    }

    .desktop-menu a{
        padding: var(--spacing-4);
    }

    .desktop-menu:target .close-burger{
        display:block;
        position:fixed;
        color : var(--light);
        top: var(--spacing-2);
        right: 80px;
    }

    .download-cv-mobile{
        display:flex;
        background-color: var(--light);
        padding:var(--spacing-2);
        border-radius:10px;
        font-size:12px;
        margin: var(--spacing-2);
        align-self:center;
        text-align:center;    
    }

    .download-cv-mobile a {
        color: var(--third-color);
    }
}
/*--        Experience      --*/

.sectionExperiences{
    padding-top: var(--spacing-section);
    margin-top: calc(-(var(--spacing-section)));
    display: flex;
}
.experiencesBloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: var(--spacing-6);
}
.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
}
.experiencesBloc>:nth-of-type(1){
    background-color: rgba(238,92,56);
    padding: var(--spacing-4);
    margin: var(--spacing-4);
}

.experiencesBloc:nth-of-type(1)  h3 {
    color : var(--background-color);
    text-align: center;
}

.experiencesBloc>:nth-of-type(2){
    background-image: url('home-img/background-mobile.png');
    padding: var(--spacing-4);
    margin: var(--spacing-4);
}

.experiencesBloc>:nth-of-type(3){
    background-image: url('home-img/background-mobile.png');
    padding: var(--spacing-4);
    margin: var(--spacing-4);
}

.experiencesBloc>:nth-of-type(4){
    background-color: rgba(238,92,56);
    padding: var(--spacing-4);
    margin: var(--spacing-4);
}

.experienceBloc:nth-of-type(2) h3 {
    color : var(--third-color);
    text-align : center;
}

.experiencesBloc:nth-of-type(1)  h3 {
    color : var(--background-color);
    text-align: center;
}

.subtitle {
    color : var(--background-color);
    text-align: center;
    padding-bottom: var(--spacing-6);
}

.jobDescription {
    text-align: justify;
}

.sentence {
    font-style: italic;
    color:#495040;
    text-align: right;
    padding-bottom: var(--spacing-6);

}

.seeAll a {
    text-align: right;
    text-decoration: none;
    color: var(--dark);
    border : solid, var(--light);
    background-color: var(--light);
    padding:var(--spacing-2);
    border-radius:10px;
    margin: var(--spacing-2);
}

@media screen and (max-width: 768px) {
    .experiencesBloc {
        display: flex;
        flex-direction: column;
    }
}

/*--      Education      --*/
.global{
    display: flex;
    justify-content: space-around;

}
.global>:nth-of-type(2){
    background-color: var(--third-color);
    color: var(--light);
}
.global>:nth-of-type(1){
    background-image: url("home-img/background-mobile.png");
}
.global>:nth-of-type(3){
    background-image: url("home-img/background-mobile.png");
}
.formations {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.formations .figure {
    display: flex;

}
.figure {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.figure figcaption {
    padding-left: var(--spacing-2);
    
}

/*--       Skills       --*/
.skills {
    width: 100%;
    display: flex;
}

.section-skills{
    padding-top: var(--spacing-section);
    margin-top: calc(-(var(--spacing-section)));
    padding-bottom: 100px;
}

.skill-h2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skillsDescription {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.skillsLogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
}

.skillsImage {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 24px;
}

.skillsImage > img {
    border-radius: var(--border-radius);
    height: 250px;
}

.element-skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:center;
    width: 200px;
    align-items: center;
    margin-top: var(--spacing-6);
}

.skills .element-skills > img {
    width: 90px;
}

.skills .element-skills > figcaption {
    font-weight: bold;
}

.skillsCatchLine{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    font-family: var(--title-h2-font-family);
    font-style: italic;
    padding-right: 64px;
}

@media screen and (min-width:768px) and (max-width:1280px) {
    .skillsCatchLine {
        display: none;
    }
    .skills{
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .skillsDescription{
        width: 100%;
    }
    .skillsLogos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 300px;
        padding: 0;
        margin:0;
    }
    .element-skills{
        display: flex;
        justify-content: center;
        padding:0;
        margin: 16px 80px;
        width: 80px;
    }
    .skillsImage {
        width:100%;
        margin-top: 40px;
    }
    .skillsImage > img {
        width: 475px;
    }
}

@media screen and (max-width: 767px) {
    .section-skills{
        padding-bottom: 0;
        padding-top: 80px;
    }

    .skillsCatchLine {
        display: none;
    }

    .skills{
        display: flex;
        flex-direction: column;
    }
    .skillsDescription {
        width: 100%;
    }

    .skillsLogos {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 500px;
        padding: 0;
        margin-top: 0;
    }
    .element-skills{
        width: 90px;
        margin-top: 0;
    }

    .element-skills > img{
        width: 70px;
    }

    .skillsImage{
        width: 100%;
        margin-top: 40px;
    }
    .skillsImage > img {
    }
}
/*--       Interests       --*/
.interests{
    display: flex;
    width: 100%;
}
.section-interest{
    padding-top: var(--spacing-section);
    margin-top: calc(-(var(--spacing-section)));
}

.interests > h2 {
    color: var(--third-color);
    text-align: center;
}

.interestImage{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
}

.interestImage > img {
    border-radius: var(--border-radius);
    height: 250px;
}

.interestsDescription {
    width: 50%;
}

.interestsLogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.interestsFigures{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:center;
    width: 250px;
    align-items: center;
    margin-top: var(--spacing-6);
}

.interestsFigures > img {
    width: 100px;
}

.interestsFigcaptionTitle{
    font-weight: bold;
    margin-top: var(--spacing-2);
}

.interestsFigcaptionDescription{
    font-style: italic;
    font-size: 14px;
}

.interestscatchLine{
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
    font-family: var(--title-h2-font-family);
    font-style: italic;
    padding-left: 64px;
}

@media screen and (min-width:768px) and (max-width:1281px) {
    .interestscatchLine{
        display: none;
    }

    .interestImage{
        display: none;
    }

    .interestsDescription{
        width:100%;
        display: flex;
        flex-direction: column;
        height: 600px;
        padding-top: 0;
    }

    .interestsLogos{
        margin-top: 0;
        justify-content: space-evenly;
    }

    .interestsFigures{
        width: 210px;
    }
}

@media screen and (max-width: 767px){
    .interestscatchLine{
        display: none;
    }
    .section-interest{
        padding-top: 80px;
    }

    .interests {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .interestImage{
        display: none;
    }

    .interestsDescription{
        width: 100%;
    }

    .interestsDescription > h2 {
        margin: var(--spacing-2);
    }
    .interestsLogos{
        display: flex;
        justify-content: space-around;
        margin-top: 32px;
        padding: 0;
    }
    .interestsFigures{
        width: 160px;
        margin: 0;
    }
    .interestsFigures > img {
        width: 90px;
    }

    .interestImage {
        padding:20px;
        width: 100%;
    }

    .interestImage > img{
        width: 100%;
    }
}

/*--       Home       --*/    
#home {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: var(--spacing-section);
    margin-top: calc(-(var(--spacing-section)));
    margin-bottom: var(--spacing-6);
    height: 830px;
    background: url("home-img/background-home.png") no-repeat;
    background-size: cover;
}

.profile-picture {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    width: 630px;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 44%
}

.presentation h1 {
    margin-top: var(--spacing-2);
    margin-bottom: 0;
    font-size: 94px;
    font-family: var(--title-font-family);
    font-weight: lighter;
    color: var(--light);
}

.presentation h3 {
    margin-top: calc(-(var(--spacing-2)));
    color: var(--dark);
    font-family: var(--title-h2-font-family);
    font-weight: lighter;
}

.ball-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 28%;
    padding-bottom: 20px;
}

.ball-left > img {
    width: 270px;
    transition: all 1s ease;
}

.ball-left > img:hover {
    transform:scale(1.20);
}

.ball-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 28%;
    padding-bottom: 20px;
    padding-left: 15px;
}

.ball-right > img {
    width: 270px;
    transition: all 1s ease;
}

.ball-right > img:hover {
    transform:scale(1.20);
}

.ball-mobile {
    display: none;
}

@media screen and (max-width:767px) {
    #home {
        flex-direction: column;
        align-items: center;
        height: 88vmax;
    }

    .profile-picture {
        width: 272px;
    }

    .presentation {
        width: 100%;
    }

    .presentation h1 {
        margin-top: calc(-(var(--spacing)));
        margin-bottom: 0;
        font-size: 64px;
    }

    .presentation h3 {
        margin-top: 0;
        margin-bottom: 1px;
        font-size: 26px;
    }

    .ball-right, .ball-left {
        display: none;
    }

    .ball-mobile {
        display: flex;
        width: 34vh;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    #home {
        height: 88vmax;
    }

    .profile-picture {
        width: 475px;
    }

    .ball-left > img {
        width: 210px;
    }

    .ball-right > img {
        width: 210px;
    }
}

/*--                      Footer                         --*/
footer{
    background-color: var(--third-color);
}

.social-media{
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding: var(--spacing-2);
}

.social-media a{
    text-decoration: none;
    color: var(--light);
}

@media screen and (max-width:767px) {
    .social-media a{
        font-size: 12px;
    }
}

/*--                      Contact       --*/                        
.contact{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-top: var(--spacing-section);
    margin-top: calc(-(var(--spacing-section)));
    
}
.infoContact{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.contactMe{
    padding: 16px;
     width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;     
    border-right: solid 5px var(--third-color);
}
.pictureContact{
    width: 50%;
    border-radius: 8px;
    margin-bottom: 16px;

}
.pictureContact:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

.contactDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
   
}
.contactDiv img{
    width: 60px;
    margin: 16px;
}
#emailBob{
    color: var(--third-color);
    text-decoration: none;
    margin-top: 15px;
}
.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
    margin-top: 32px;
}

.contact .formulaire{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

form{
    width: 100%;
    height: 95%;
    
}

form div{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 16px;
}

div input, textarea{
    
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 32px;
    border-radius: 8px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}



div textarea{
   
    border-radius: var(--border-radius);
    margin-top : 16px; 
    font-family: 'Noto Sans JP', sans-serif;
    
}
form h3{
    text-align: center;
    top: 5px;
    
}

button{
margin-left: 38%;
margin-top: 56px;
margin-bottom: 40px;

width: 25%;
height: 40px;
background-color: var(--light);
border-radius: var(--border-radius);
font-family: 'Noto Sans JP', sans-serif;
font-size: 20px;
box-shadow: 2px 2px 2px var(--dark);
color: var(--third-color);
}

button:hover{
    transform: scale(1.2);
}


@media screen and (max-width :768px){

    .contact{
        flex-direction: column;
    }    
    .pictureContact{
        border-radius: 20%;
    }
    .contactMe{
        width: 100vw;
        border-right: none;
    }

    .contact .form{
        width: 100vw;
    }

    button{
        border-radius: 50%;
        height: 20vw;
        border-color: var(--dark);
        box-shadow: none;
        font-size: 100%;
    }

    .infoContact{
        flex-direction: column;
    }
}

