:root {
    --background-color: #F3EEEC;
    --secondary-background-color: #b9b7bd;
    --third-color: #ee5c38;
    --title-color: #868b8e;
    --light: rgb(253, 250, 253) ;
    --dark:rgb(14, 0, 15);
    
    --border-radius:10px;

    --title-font-family: 'Akronim', cursive;

    --spacing:8px;
    --spacing-2:calc(var(--spacing) * 2);
    --spacing-4:calc(var(--spacing) * 4);
    --spacing-6:calc(var(--spacing) * 6);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: 'Noto Sans JP', sans-serif;
    margin:0;
    font-weight: bold;
}

h2 {
    color: var(--third-color);
    text-align: center;
    font-family: var(--title-font-family);
    font-size: 42px;
}

h3{
    color: var(--third-color);
    text-align: center;
    font-family: var(--title-font-family);
    font-size: 32px;
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 40px;
    }

}
/*--        Header      --*/
header {
    margin-bottom: 150px;
}

@media screen and (max-width:1281px) {
    header {
        margin-bottom: 25vmax;
    }
}

nav {
    display:flex;
    justify-content:space-around;
    position: fixed;
    width:100vw;
    background-color: var(--third-color);
    top: 0;
    box-shadow: 0 1px 10px #999;
}

.menu-items {
    width:80%;
    padding:var(--spacing-2);
}

.desktop-menu{
    display: flex;
    justify-content:space-evenly;
    margin: var(--spacing-2);
}

.desktop-menu a {
    color: var(--light);
}

.download-cv {
    background-color: var(--light);
    padding:var(--spacing-2);
    border-radius:10px;
    margin: var(--spacing-2);
    align-self:center;
    text-align:center;
}

.download-cv a {
    color: var(--third-color);
}


nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--title-font-family);
    font-size: 30px;
}

.burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:50px;
    height:50px;
}


.burger div {
    height: 4px;
    background-color: var(--light);
}

.download-cv-mobile {
    display:none;
}

.close-burger{
    display:none;
}

@media screen and (max-width:768px) {
    .desktop-menu {
        display: none;
    }

    .burger {
        display:flex;
        padding: var(--spacing);
        width: 60px;
    }

    .download-cv{
        display:none;
    }

    .desktop-menu:target {
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: var(--third-color);
        font-size: 20px;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        opacity: 0.95;
    }

    .desktop-menu a{
        padding: var(--spacing-4);
    }

    .desktop-menu:target .close-burger{
        display:block;
        position:fixed;
        color : var(--light);
        top: var(--spacing-2);
        right: 80px;
    }

    .download-cv-mobile{
        display:flex;
        background-color: var(--light);
        padding:var(--spacing-2);
        border-radius:10px;
        font-size:12px;
        margin: var(--spacing-2);
        align-self:center;
        text-align:center;    
    }

    .download-cv-mobile a {
        color: var(--third-color);
    }
}
/*--        Experience      --*/
.textLeft {
    background-color: rgba(238,92,56, 0.8);
    padding: var(--spacing-6);

}
.textRight {
    border: solid rgba(238,92,56);
    padding: var(--spacing-6);
}

.sectionExperiences > h2 {
    text-align: center;
    margin-bottom: var(--spacing-6);
}

.textElements1 > h3 > a {
    text-decoration: none;
    color : var(--background-color);
    border: solid var(--background-color);
    margin-left : var(--spacing-2);
    padding: var(--spacing-2);

}
.textElements1 > h3 > a:hover {
    color: var(--third-color) ;
    background-color: var(--background-color);
}

.textElements2 > h3 > a {
    text-decoration: none;
    color: var(--third-color);
    border: solid var(--third-color);
    margin-left : var(--spacing-2);
    padding: var(--spacing-2);

}
.textElements2 > h3 >a:hover {
    color: var(--background-color) ;
    background-color: var(--third-color);
}

.textElements1 > h3, .textElements > h3 {
    color : var(--background-color);
}

.experiencesBloc {
    display:flex;
    justify-content: space-around;
    margin-bottom: var(--spacing-6);
}
.textElements1 > ul, .textElements2 > ul {
    list-style-type: none;
}

.seeds {
    padding-right:var(--spacing-2);
}

.mind {
    font-size: 1.4em;
    font-style: italic;
    padding-bottom:var(--spacing-6);
}
@media screen and (max-width: 768px) {
    .experiencesBloc {
        display: flex;
        flex-direction: column;
    }
    .textElements2 > h3 > a{
        display: flex;
        flex-direction: column;
    }
    .textElements1 > h3 > a{
        display: flex;
        flex-direction: column;
    }
}

/*--      Education      --*/

.global {
    display: flex;
    justify-content: space-around;
}
.formation, .year, .localisation {
    display: flex;
    align-items: center;
}
.localisation {
    display: flex;
    align-self: flex-start;
}
.global >:nth-of-type(1n) {
    border: var(--third-color) solid;
}
.global >:nth-of-type(2) {
    background-color: var(--third-color);
    color: var(--light);
}




/*--       Skills       --*/
.skills {
    width: 100%;
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
}

.skillsDescription {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.skillsLogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
}

.skillsImage {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 24px;
}

.skillsImage > img {
    border-radius: var(--border-radius);
    height: 250px;
}

.element-skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:center;
    width: 200px;
    align-items: center;
    margin-top: var(--spacing-6);
}

.skills .element-skills > img {
    width: 90px;
}

.skills .element-skills > figcaption {
    font-weight: bold;
}

@media screen and (min-width:768px) and (max-width:1280px) {
    .skills{
        display: flex;
        flex-direction: column;
    }
    .skillsDescription{
        width: 100%;
    }
    .skillsLogos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 300px;
        padding: 0;
        margin:0;
    }
    .element-skills{
        display: flex;
        justify-content: center;
        padding:0;
        margin: 16px 80px;
        width: 80px;
    }
    .skillsImage {
        width:100%;
        margin-top: 40px;
    }
    .skillsImage > img {
        width: 475px;
    }
}

@media screen and (max-width: 767px) {

    .skills{
        display: flex;
        flex-direction: column;
    }
    .skillsDescription {
        width: 100%;
    }

    .skillsLogos {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 500px;
        padding: 0;
        margin-top: 0;
    }
    .element-skills{
        width: 90px;
        margin-top: 0;
    }
    .skillsImage{
        width: 100%;
        margin-top: 40px;
    }
    .skillsImage > img {
    }
}
/*--       Interests       --*/
.interests{
    display: flex;
    width: 100%;
    padding-top: 150px;
}

.interests > h2 {
    color: var(--third-color);
    text-align: center;
    font-family: var(--title-font-family);
}

.interestImage{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
}

.interestImage > img {
    border-radius: var(--border-radius);
    height: 250px;
}

.interestsDescription {
    width: 50%;
}

.interestsLogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
}

.interestsFigures{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:center;
    width: 250px;
    align-items: center;
    margin-top: var(--spacing-6);
}

.interestsFigures > img {
    width: 100px;
}

.interestsFigcaptionTitle{
    font-weight: bold;
    margin-top: var(--spacing-2);
}

.interestsFigcaptionDescription{
    font-style: italic;
    font-size: 14px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .interestImage{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .interests {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .interestsDescription{
        width: 100%;
        padding-top: 96px;
    }

    .interestsDescription > h2 {
        margin: var(--spacing-2);
    }
    .interestsLogos{
        margin-top: 0;
        padding: 0;
    }
    .interestsFigures{
        width: 100%;
    }
    .interestsFigures > img {
        width: 100px;
    }

    .interestImage {
        padding:20px;
        width: 100%;
    }

    .interestImage > img{
        width: 100%;
    }
}

/*--       Home       --*/    
#home {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: var(--spacing-6);
    padding: var(--spacing);
}

.profile-picture {
    width: 630px;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 44%
}

.presentation h1 {
    margin-bottom: 0;
    font-size: 78px;
    font-family: var(--title-font-family);
    font-weight: lighter;
}

.presentation h3 {
    margin-top: 0.5vh;
    font-size: 28px;
}

.ball-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 28%;
    height: 600px;
    padding-top: 20px;
}

.ball-left > img {
    width: 150px;
}

.ball-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 28%;
    height: 600px;
    padding-top: 20px;
    padding-left: 15px;
}

.ball-right > img {
    width: 150px;
}

.ball-mobile {
    display: none;
}

@media screen and (max-width:767px) {
    #home {
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 70vmax;
    }

    .profile-picture {
        width: 275px;
    }

    .presentation {
        width: 100%;
    }

    .presentation h1 {
        margin-top: 18px;
        margin-bottom: 0;
        font-size: 62px;
    }

    .presentation h3 {
        margin-top: 0;
        font-size: 20px;
    }

    .ball-left, .ball-right {
        display: none;
    }

    .ball-mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 64%;
    }

    .ball-mobile > img {
        width: 98px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .profile-picture {
        width: 475px;
    }

    .ball-left {
        width: 28%;
        height: 400px;
        padding-top: 10px;
    }

    .ball-left > img {
        width: 130px;
    }

    .ball-right {
        width: 28%;
        height: 400px;
        padding-top: 10px;
        padding-left: 15px;
    }

    .ball-right > img {
        width: 130px;
    }
}

/*--                      Footer                         --*/
footer{
    background-color: var(--third-color);
}

.social-media{
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding: var(--spacing-2);
}

.social-media a{
    text-decoration: none;
    color: var(--light);
}

@media screen and (max-width:767px) {
    .social-media a{
        font-size: 12px;
    }
}

/*--                      Contact       --*/                        
.contact{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    
    
}

.contactMe{
    padding: 16px;
     width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;     
    border-right: solid 5px var(--third-color);
}
.pictureContact{
    width: 40%;
    border-radius: 50%;
    margin-bottom: 16px;
}
.pictureContact:hover{
    transform: scale(1.1);
}

.contactDiv{
    display: flex;
    align-items: center;
   
}
.contactDiv img{
    width: 50px;
    margin: 16px;
}


.contact .contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;   
    
}

form{
    width: 100%;
    height: 95%;
    
}

form div{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 16px;
}

div input{
    
    height: 40px;
    margin-top: 16px;
    margin-bottom: 32px;
    border-radius: var(--border-radius);
    font-family: 'Noto Sans JP', sans-serif;
}



div textarea{
   
    border-radius: var(--border-radius);
    margin-top : 16px; 
    font-family: 'Noto Sans JP', sans-serif;
    
}
form h3{
    text-align: center;
    top: 5px;
    
}

button{
margin-left: 38%;
margin-top: 56px;
margin-bottom: 40x;
width: 25%;
height: 40px;
background-color: var(--light);
border-radius: var(--border-radius);
font-family: 'Noto Sans JP', sans-serif;
font-size: 20px;
box-shadow: 2px 2px 2px var(--dark);
color: var(--third-color);
}

button:hover{
    transform: scale(1.2);
}
@media screen and (max-width :768px){

    .contact{
        flex-direction: column;
        
    }    
    .pictureContact{
        border-radius: 20%;
    }
    .contactMe{
        width: 100vw;
        border-right: none;
    }

    .contact .contactForm{
        width: 100vw;
    }

    button{
        border-radius: 50%;
        height: 20vw;
        border-color: var(--dark);
       
    }
}

